<p>
  <strong>Title:</strong>
  <%= @unit_of_study.title %>
</p>

<p>
  <strong>Alpha code:</strong>
  <%= @unit_of_study.alpha_code %>
</p>

<%= link_to 'Edit', edit_unit_of_study_path(@unit_of_study) %> |
<%= link_to 'Back', unit_of_studies_path %>
