<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lecture_recording.name %>
</p>

<%= link_to 'Edit', edit_lecture_recording_path(@lecture_recording) %> |
<%= link_to 'Back', lecture_recordings_path %>
