/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require parsley
 */
 @import "flat-ui";

.navbar {
  margin-bottom:0;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.lecrec-brand {
  height: 51px;
  margin-right: 15px;
}

a {
  text-decoration: none;
}

.navbar .nav ul {
  width: auto;
}

.dropdown-menu {
  width: 50px;
  background-color:rgba(0, 0, 0, 0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
  border: none;
}

.notifcation-link {
  white-space: inherit !important;
}

.video-meta {
  padding-left: 10%;
  padding-right: 10%;
}

.btn-video {
  float: right !important;
  margin-left: 5px;
}

.video-bot-padding {
  height: 100px;
}

.discussion-content {
//  margin-left: 20px;
}

.dis-icon {
  margin-top: 5px;
  margin-right: 5px;
}

.discussion-form{
  padding-top: 10px;
  max-width: 100%;
  margin: 0 auto;
}
.discussion-form form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}

.discussion-form textarea {
  height: 200px;
}


.discussion-content {
  word-wrap: break-word;
}

.right-btn {
  float: right !important;
}

.lecrec-uploaded-by-on {
  margin-left: 20px;
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.discussion .buttons {
  float: right !important;
}

.comments {
  margin-top: 25px;
  margin-left: 15px;
}

.comment {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-right:10px;
  padding-top:10px;
  background: #eee;
  margin-bottom: 15px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 620px;
}

.comment:after {
  content: "";
  position: absolute;
  top: 7px;
  left: -15px;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #eee;
  display: block;
  width: 0;
  z-index: 1;
}

.comments ol {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.commentInfo, .commentDateStamp {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  line-height: 18px;
  width: 140px;
}

.show-comments i{
  padding-top: 10px;
}

.comment-buttons a{
  padding-right: 10px;
}

.no-bullets{
  list-style-type: none;
}

tr.hover {
  cursor: pointer;
  background-color: rgba(12, 42, 49, 0.1);
}

.discussion-form-control {
  width: 100px;
  display: -webkit-inline-box;
}

.overlays {
  position: absolute;
  top: 55px;
  color: #FFF;
  text-align: center;
  width: 100%;
  z-index: 2147483647;
}

.video-overlay {
  background-color: rgba(31, 31, 31, 0.52);
  padding: 10px 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#video {
  z-index: 1;
}

.label-flat {
  background-color: #1abc9c;
}

.vid-desc {
  color: #777777;
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px !important;
}